apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    {{- include "worker.labels" . | nindent 4 }}
  name: {{ include "worker.name" . }}
data:
  App.toml: |
    index_path = "/data/tantivy_index"
    amqp_prefetch_count = 10

    [http]
    internal_api_listener_address = "0.0.0.0:{{ .Values.service.port }}"

    [speech_recognition]
    url = {{ .Values.speechRecogUrl | quote }}
    timeout = "5m"

    {{- println "" }}

    {{- with .Values.db }}
    [db]
    size = {{ .size }}
    idle_size = {{ .idle_size }}
    timeout = {{ .timeout | quote }}
    max_lifetime = {{ .max_lifetime | quote }}
    {{- end }}


