apiVersion: v1
kind: Service
metadata:
  name: {{ include "api-server.name" . }}
spec:
  type: LoadBalancer
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
  selector:
    app: {{ include "api-server.name" . }}
